.root {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
}

.main-container {
  width: 90%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header__list {
  margin: 0 20px 0 0;
  transition: .2s;
}

.header__list:hover {
  opacity: .8;
}

.header__list:last-child {
  margin: 0;
}

.header__social-icon {
  width: 32px;
  height: 32px;
}

.slider {
  width: 95%;
  margin: 0 auto;
}

.slider__buttons {
  padding: 15px 10px;
  border: black 1px solid;
  position: relative;
}

.slider__badge {
  background-color: white;
  width: 50px;
  padding: 0 0 0 2px;
  position: absolute;
  top: -10px;
  left: 15px;
}

.slider__content {
  padding: 45px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__inputs {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.slider__input {
  width: 80%;
  margin: 0 0 24px;
}

.slider__input:last-child {
  margin: 0;
}

.slider__texts {
  width: 50%;
  padding: 20px;
  border: black 1px solid;
}

.slider__paragraph {
  margin: 0 0 24px;
}

.slider__paragraph:last-child {
  margin: 0;
}

.footer {
  padding: 20px 0 0;
  display: flex;
  justify-content: center;
}

#red {
  background: red;
}

#green {
  background: green;
}

#blue {
  background: blue;
}